
/*page*/

.qwe-left-part img {width:100%;}
.qwe-right-part img {width:100%;}
.type-post .qwe-article h1{width:70%;text-align:justify;padding:5% 15%;}
.type-post .qwe-article p{width:70%;text-align:justify;padding:1% 15%;}

.type-page .qwe-article h1{padding:1% 1%;text-align:left;margin-left:0;}
.type-page .qwe-left-part img {width:95%;}

@media (max-width: 960px){

}

@media (max-width: 720px){
.qwe-left-part img {display: none;}
.qwe-right-part img {}
}

@media (max-width: 480px){
.qwe-left-part img {display: none;}
.qwe-right-part img {display: none;}

}



/*post*/

.qwe-post-wrapper {border-top:1px solid #000;}
.qwe-single .qwe-post-wrapper {padding:3% 3%;}


/* post single */

.postedby a {display: inline-block;color:#043951;text-decoration: none;line-height:4vw;}
.postedby ul {display: inline-block;color:#043951;}
.postedby li {display: inline-block;color:#043951;list-style: none;}

.qwe-next-prev-post {width:100%;background-color:#000;margin:2% 0;}
.qwe-next-prev-post {width:100%;background-color:#000;padding:1% 0;}
.qwe-next-post {float: right;}
.qwe-next-post a {color:#fff;}
.qwe-prev-post a {color:#fff;}

.cd-fixed-bg {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
 
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../image/cd-background-1.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("../image/cd-background-2.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("../image/cd-background-3.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("../image/cd-background-4.jpg");
}
 
.cd-scrolling-bg {
  min-height: 100%;
}

