
/* sticky */
.qwe-sticky {background-color:#fff;margin-bottom:5%;display:inline-block;float: left;}

.qwe-sticky-images img {
    margin:2%;
    padding: 2% 2%;
    border-radius: 50% ;
    width:92%;
    float: left;
/*       -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow: inset 0 0 5px #000000 , 0 9px 5px #000000; */
    border: 1px solid #000;
     }

.qwe-sticky-wrapper {float: left;width:33%;}

.qwe-sticky-gallery-container a:focus {background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0 ));}
.qwe-sticky-gallery-container input {
    margin-left: 4%;
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:0 5px 5px #000000 , 0 9px 5px #000000;
    border: 1px solid #666;
    text-align: center;
    width:30%;
    height: 25px;
    border-radius: 3px;
}
.qwe-sticky-description p{
    margin:0px 4%;
    padding: 0% 2%;
    
}





@media (max-width: 768px){

}

@media (max-width: 500px){

}



